@model IEnumerable<Seithi247.Views.ViewModel.NewsVM>

@* <div class="stories-bar">
    @foreach (var news in Model)
    {
        <div class="story-item">
            <a data-fancybox
               data-type="ajax"
               data-src="/News/DetailsPartial/@news.Id">

                <div class="story-ring">
                    <img src="@news.Images?.FirstOrDefault()?.FilePath" class="img-fluid" alt="@news.Title">
                </div>

                <span class="story-text">Recommended</span>
            </a>
        </div>
    }
</div> *@

@foreach (var news in Model)
{
    <div class="recommended-card">

        <a data-fancybox
               data-type="ajax"
               data-src="/News/DetailsPartial/@news.Id">

            <img src="@news.Images?.FirstOrDefault()?.FilePath" alt="@news.Title">

            <div class="rec-overlay">
                <span>@news.Title</span>
            </div>

        </a>

    </div>

}

